.bordesolido{
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
 }
 .bordepunteado{
    border: 9px double #ff8833;
 }
 .bordedoble{
    border: 9px double #990000;
 }
 .bordedashed{
   border: 1px dashed #660000;
 }
 .bordegroove{
   border: 5px groove #660000;
 }
 div.borderidge{
   border: 10px inset #3333ff;
   background-color: #0000ff;
 }
 div.bordeoutset{
   border: 10px outset #cccccc;
   background-color: #cccccc;
 }
 .bordeporlados{
   border-top: 1px solid #ff9999;
   border-right: 2px dotted #99ff99;
   border-bottom: 2px dashed #9999ff;
   border-left: 3px double #666666;
 }
 /*css 3 incorpora nuevas propiedades para el 
 control de bordes de los elementos. ahora se
 permiten bords con las esquinas redondeadas
 internet explorer hay que decir que
 todavia no soporta este atributo de CSS#*/
 #capa1, #capa2{
   border-radius: 15px;
 }
 /*Por el momento, para navegadores mozilla y chrome
 que son los primeros en adaptarse a css3, podemos
 utilizar el atributo border-radius de la siguiente manera*/
 #capa3{
   -wedkit-border-radius: 15px 27px 100px 0px;
   padding: 10px;
  }
  /*Asi estariamos definiendo un borde redondeado
  con radio de 15 pixeles para la esquina superior izquierda
  luego 27 px para la esquina superior derecha
  de 100px para la inferior derecha y 0px para la esquina
  inferiior izquierda. (Hay que explicar que un
  border-radius de 0px es un borde coin esquina en angulo recho)*/